<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <a class="navbar-brand" href="#">College Admission System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ContactUs</a>
      </li>
      
      </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div  class="card" style="width: 18rem;">
                <img  src="/assets/images/university.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">University Management</h5>
                  <p class="card-text">University Details</p>
                  <a  class="btn" routerLink="/universityList">View University</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="/assets/images/college.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">College Management</h5>
                      <p class="card-text">College Details</p>
                      <a href="#" class="btn " routerLink="/collegeList">View Colleges</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img  src="/assets/images/course.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Courses Management</h5>
                      <p class="card-text">Course Details</p>
                      <a href="#" class="btn">View Course</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/branch.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Branches Management</h5>
                  <p class="card-text">Branch Details</p>
                  <a href="#" class="btn ">View Branches</a>
                </div>
              </div>
        </div>
        <div class="col-sm">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img  src="/assets/images/form_add.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Application Management</h5>
                      <p class="card-text">Apply for Courses</p>
                      <a href="#" class="btn ">Apply now</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img  src="/assets/images/accounts.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Payment Management</h5>
                      <p class="card-text">Pay fees</p>
                      <a href="#" class="btn">Pay Now</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>

</div>
</body>